.page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  filter: blur(7px);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
}

.page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* set the opacity as needed */
  z-index: -1;
}

.aaa {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 8px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.aaa {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.aaa:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.aaa:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.aaa:hover:after {
  opacity: 1;
  right: 10px;
}
.login {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
}
.login:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #111;
}
.login:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #333;
}
.page h1 {
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.page h1 span {
  margin-top: 5px;
  font-size: 15px;
  color: #444;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.page h1 span:after,
.page h1 span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 5px;
  background-color: #f8f8f8;
}